<h1>Home</h1>
<a href="/new">New</a>
<ul>
  <% messages.forEach(({user, message, date}) => { %>
    <li>
      <p><%= user %></p>
      <p><%= message %></p>
      <p><%= date %></p>
    </li>
  <% }) %>
</ul>
